<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MFlocker UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="left-screen">
        <div class="video-feed">
            <img id="video-stream" src="http://172.17.10.168:9000/mjpg" alt="PiCrawler Video Feed">
        </div>

            <div class="controls">
                <div class="arrow-grid">
                    <div></div>
                    <button class="arrow-btn" id="up-btn">↑</button>
                    <div></div>
                    <button class="arrow-btn" id="left-btn">←</button>
                    <div></div>
                    <button class="arrow-btn" id="right-btn">→</button>
                    <div></div>
                    <button class="arrow-btn" id="down-btn">↓</button>
                    <div></div>
                    
                    
                </div>
                <div class="tilt-controls">
                    <button class="tilt-btn" id="tilt-up-btn">⤴️</button>
                    <button class="tilt-btn" id="tilt-down-btn">⤵️</button>
                </div>
                <div class="mode-switch">
                    <span>Manual</span>
                    <label class="switch">
                        <input type="checkbox" id="mode-toggle" onclick="modeToggle()">
                        <span class="slider"></span>
                    </label>
                    <span>Automatic</span>
                </div>
            </div>
        </div>

        <div class="right-screen">
            <div class="listing-students">
            <div class="tabs">
                <div class="tab active">List of Students</div>
            </div>
        
            <div id="in-frame" class="tab-content active">
                <ul class="student-list" id="students-in-frame">
                    <li id="disappear">🔴 Name 1</li>
                    <li>🟡 Name 2</li>
                    <li>🔵 Name 3</li>
                </ul>
            </div>
        
            <div id="not-in-frame" class="tab-content">
                <h3>Students Not in Frame</h3>
                <ul class="student-list" id="students-not-in-frame">
                </ul>
            </div>
        </div>

            <div class="log-box">
                <h3>Log</h3>
                <div id="log-messages"></div>
            </div>

            <div class="last-img">
                <h3>Image</h3>
                <img src="{{ url_for('static', filename='images1.jpg') }}" alt="Image" class="image">
            </div>
        </div>
    </div>


<script>

    let flashing = false;
    let flashInterval;

    function switchTab(tabName) {
        const tabs = document.querySelectorAll('.tab');
        const contents = document.querySelectorAll('.tab-content');

        tabs.forEach(tab => {
            tab.classList.remove('active');
        });

        contents.forEach(content => {
            content.classList.remove('active');
        });

        document.querySelector(`.tab[onclick="switchTab('${tabName}')"]`).classList.add('active');
        document.getElementById(tabName).classList.add('active');
    }

    function toggleStudent(){
        const disappearStudent = document.getElementById('disappear');
        const studentsInFrame = document.getElementById('students-in-frame');
        const studentsNotInFrame = document.getElementById('students-not-in-frame');
        const studentName = disappearStudent.textContent;
        const logBox = document.getElementById('log-messages');
        const studentListItem = document.createElement('li');
        studentListItem.textContent = studentName;
        studentListItem.className = 's-name';
        studentListItem.id = 'disappear';
        const showFrameButton = document.createElement('button');
        showFrameButton.textContent = 'Show Last Visible Frame';
        showFrameButton.className = 'show-frame-btn';
        showFrameButton.onclick = function() {
            showLastVisibleFrame(studentName);
        };
        if (!flashing) {
            // studentsInFrame.removeChild(disappearStudent);
            // studentsNotInFrame.appendChild(studentListItem);
            disappearStudent.textContent = `⚠️ 🔴 Name 1`;
            disappearStudent.appendChild(showFrameButton);
            const now = new Date();
            const timeString = now.toLocaleTimeString();
            const logEntry = document.createElement('p');
            logEntry.textContent = `🔴 Name 1 disappeared from frame at ${timeString}`;
            logBox.appendChild(logEntry);
        } else {
            // studentsNotInFrame.removeChild(disappearStudent);
            // studentsInFrame.appendChild(disappearStudent);
            disappearStudent.textContent = `🔴 Name 1`;
            //disappearStudent.removeChild(showFrameButton);
            const now = new Date();
            const timeString = now.toLocaleTimeString();
            const logEntry = document.createElement('p');
            logEntry.textContent = `🔴 Name 1 re-entered frame at ${timeString}`;
            logBox.appendChild(logEntry);
        }
        disappearStudent.classList.toggle('disappear');
        // disappearStudent.textContent = disappearStudent.textContent === '🔴 Name 1' ? '🟡 Name 2' : '🔴 Name 1';
    }
    document.addEventListener('keydown', (e) => {
        if (e.key === '2') {
            toggleStudent();
            toggleFlashingBackgrounds();
        }
    });

    document.addEventListener('keydown', (e) => {
        if (e.key === '2') {
            console.log("Picture taken");
        }
    });

    document.addEventListener('keydown', (e) => {
        if (e.key === '3') {
            // move images1.jpg fro images folder to static folder

        }
    });

    document.addEventListener('keydown', (e) => {
        if (e.key === 'z') {
            // move images1.jpg fro images folder to static folder
            sendCommand('blank')
        }
    });

    function toggleFlashingBackgrounds() {
        const inFrameDiv = document.getElementById('in-frame');
        const notInFrameDiv = document.getElementById('not-in-frame');
    
        if (!flashing) {
            flashing = true;
            flashInterval = setInterval(() => {
                inFrameDiv.classList.toggle('flashing');
                notInFrameDiv.classList.toggle('flashing');
            }, 1000);
        } else {
            flashing = false;
            clearInterval(flashInterval);
            inFrameDiv.classList.remove('flashing');
            notInFrameDiv.classList.remove('flashing');
        }
    }

    function showLastVisibleFrame(studentName) {
        alert(`Showing last visible frame for ${studentName}`);
    }
</script>

    <script>
        const logBox = document.getElementById('log-messages');

        var followTimer = null;

        function sendCommand(action) {
            fetch('/command', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ action })
            })
            .then(res => res.json())
            .then(data => log(`Sent: ${data.action}`))
            .catch(err => log(`Error: ${err}`));
        }

        function log(message) {
            const entry = document.createElement('div');
            entry.textContent = message;
            logBox.prepend(entry);
        }

        function modeToggle() {
            const buttons = document.querySelectorAll('.controls button');
            if(document.getElementById('mode-toggle').checked) {
                clearInterval(followTimer);
                followTimer = setInterval(function(){
                    sendCommand('blank')
                }, 100)
                sendCommand('setAutomatic');
                buttons.forEach(button => {
                    button.disabled = true;
                });
            } else {
                clearInterval(followTimer);
                sendCommand('setManual');
                buttons.forEach(button => {
                    button.disabled = false;
                });
            }
        }

        // https://stackoverflow.com/questions/41304737/why-onmousedown-event-occur-once-how-to-handle-mouse-hold-event
        var timer = null;

        // var lockTimer = setInterval(function() {
        //     sendCommand('lock');
        //     console.log('lockingStart');
        // }, 50);

        function mouseDown(command) {
            // clearInterval(lockTimer);
            timer = setInterval(function(){
                // the function can do whatever you need it to
                // console.log("Mouse is down!");
                sendCommand(command);
            }, 100);
        }

        // Set up a custom mouseup event handler for letting go 
        // of the mouse inside the box or when mouse leaves the box.
        function mouseDone(){
            clearInterval(timer);         // Cancel the previously initiated timer function
            // clearInterval(lockTimer);
            // lockTimer = setInterval(function() {
            //     sendCommand('lock');
            //     console.log('lockingDone');
            // }, 50)
            // console.log("Mouse is up or outside of box!");  // And, do whatever else you need to
        }
        

        // document.getElementById('up-btn').onclick = () => sendCommand('forward');
        // document.getElementById('down-btn').onclick = () => sendCommand('backward');
        // document.getElementById('left-btn').onclick = () => sendCommand('left');
        // document.getElementById('right-btn').onclick = () => sendCommand('right');
        // document.getElementById('tilt-up-btn').onclick = () => sendCommand('tilt_up');
        // document.getElementById('tilt-down-btn').onclick = () => sendCommand('tilt_down');
        document.getElementById('up-btn').addEventListener("mousedown", () => {mouseDown('forward');});
        document.getElementById('up-btn').addEventListener("mouseup", () => {mouseDone();});
        document.getElementById('up-btn').addEventListener("mouseleave", () => {mouseDone();});

        document.getElementById('down-btn').addEventListener("mousedown", () => {mouseDown('backward');});
        document.getElementById('down-btn').addEventListener("mouseup", () => {mouseDone();});
        document.getElementById('down-btn').addEventListener("mouseleave", () => {mouseDone();});

        document.getElementById('left-btn').addEventListener("mousedown", () => {mouseDown('left');});
        document.getElementById('left-btn').addEventListener("mouseup", () => {mouseDone();});
        document.getElementById('left-btn').addEventListener("mouseleave", () => {mouseDone();});

        document.getElementById('right-btn').addEventListener("mousedown", () => {mouseDown('right');});
        document.getElementById('right-btn').addEventListener("mouseup", () => {mouseDone();});
        document.getElementById('right-btn').addEventListener("mouseleave", () => {mouseDone();});

        document.getElementById('tilt-up-btn').addEventListener("mousedown", () => {mouseDown('tilt_up');});
        document.getElementById('tilt-up-btn').addEventListener("mouseup", () => {mouseDone();});
        document.getElementById('tilt-up-btn').addEventListener("mouseleave", () => {mouseDone();});

        document.getElementById('tilt-down-btn').addEventListener("mousedown", () => {mouseDown('tilt_down');});
        document.getElementById('tilt-down-btn').addEventListener("mouseup", () => {mouseDone();});
        document.getElementById('tilt-down-btn').addEventListener("mouseleave", () => {mouseDone();});


        document.addEventListener('keydown', (e) => {
            const keyMap = {
                'w': 'forward',
                's': 'backward',
                'a': 'left',
                'd': 'right',
                'r': 'tilt_up',
                'f': 'tilt_down'
            };
            if (keyMap[e.key]) {
                sendCommand(keyMap[e.key]);
                // clearInterval(lockTimer);
                // lockTimer = setInterval(function() {
                //     sendCommand('lock');
                //     console.log('lockingKey');
                // }, 50)
            }
        });
    </script>
</body>
</html>